@each $color, $value in $theme-colors {
  @each $position in [ 'left', 'bottom' ] {
    .border-#{$position}-#{$color} {
      border-#{$position}: .25rem solid $value !important;
    }
  }
}
/*
.heading-border {
  text-align: center;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    border: 1px solid $primary;
  }
}
*/

