.heading {
  &--1,
  &--2 {
    padding: 0px 8px 5px 8px;
    display: inline;
    line-height: 1.5;
  }
  &--1 {
    color: $white !important;
    background: $black none repeat scroll 0 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  &--2 {
    color: $black !important;
    background: $white none repeat scroll 0 0;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }

}
